<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <li routerLinkActive="active" *ngIf="_authService.isTokenAvailable()"><a routerLink="/create-article">Create article</a></li>
        <li routerLinkActive="active" *ngIf="_authService.isTokenAvailable()"><a routerLink="/profile">Profile</a></li>
        <li routerLinkActive="active"><a routerLink="/users">Users</a></li>
        <li (click)="_authService.logOut()" *ngIf="_authService.isTokenAvailable()"><a routerLink="">Logout</a></li>
        <li routerLinkActive="active" *ngIf="!_authService.isTokenAvailable()"><a routerLink="/login">Login</a></li>
        <li routerLinkActive="active" *ngIf="!_authService.isTokenAvailable()"><a routerLink="/register">Register</a></li>
      </ul>
    </div>
  </nav>
    