<h1>Create an article</h1>
<div class="row">
    <div class="col-md-8">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div id="user-data">                
                <div class="form-group">
                    <label for="title">Title</label>
                    <input
                    type="text"
                    id="title"
                    class="form-control"
                    placeholder="Your title"
                    ngModel
                    name="title"
                    required
                    #title="ngModel">
                    <span class="help-block" *ngIf="!title.valid && title.touched">Please enter an title!</span>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <textarea                    
                    id="content"
                    rows="5"
                    class="form-control"
                    placeholder="Your content"
                    ngModel
                    name="content"
                    required
                    #content="ngModel"
                    ></textarea>
                    <span class="help-block" *ngIf="!content.valid && content.touched">Please enter a content!</span>
                </div>
                <div class="form-group">
                    <label for="image-url">Image url</label>
                    <input
                    type="text"
                    id="image-url"
                    class="form-control"
                    placeholder="Place your image URL here"
                    ngModel
                    name="imageUrl"
                    required
                    #imageUrl="ngModel">
                    <span class="help-block" *ngIf="!imageUrl.valid && imageUrl.touched">Please enter an image URL for your article!</span>
                </div>
            </div>
            <button
            class="btn btn-primary"
            [disabled]="!f.valid">Submit</button>            
        </form>
    </div>
</div>
