<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let article of articles">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="{{article.imageUrl}}" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">{{article.title}}</h4>
              <p>by {{article.createdBy}}</p>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-primary">See more</a>
            </div>
          </div> 
    </div>
</div>
